@import "variables";

@mixin font-medium{
  font-size: 9.75pt;
}
@mixin font-small{
  font-size: 9pt;
}
@mixin link-style1{
  a{
    color: #0057a8;
    &:hover{
      color: $color-danger;
    }
  }
}